[Unit]
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Restart=on-failure

User=kai
Environment=CLOUDSDK_CONFIG=/home/kai/.config/gcloud
ExecStart=/usr/local/bin/sync.sh
