resolvers kube-dns
  parse-resolv-conf
  resolve_retries 3600
  timeout retry   1s
  hold valid      1s
  hold obsolete   0s
defaults
  mode tcp
  timeout connect 3s
listen health_check_http_url
  bind :8888
  mode http
  monitor-uri /healthz
  option      dontlognull
frontend stats
  bind :8404
  mode http
  stats enable
  stats uri /stats
  stats refresh 10s
