resolvers kube-dns
  parse-resolv-conf
  resolve_retries 3600
  timeout retry   1s
  timeout resolve 1s
  hold other      60s
  hold refused    60s
  hold nx         60s
  hold timeout    60s
  hold obsolete   60s
  hold valid      0s
defaults
  mode tcp
  timeout connect 3s
frontend stats
  bind :8080
  mode http
  stats enable
  stats uri /stats
  stats refresh 10s
listen health_check_http_url
  bind :8081
  mode http
  monitor-uri /healthz
  option      dontlognull
