[user]
  name = Kai Aihara
  email = kaidotio@gmail.com
	signingkey = 9150A4F214C89DA12BAF4A2D8C375B940DB12BEB

[init]
	templateDir = ~/.config/git/template

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[credential "https://source.developers.google.com"]
  helper = gcloud.sh

[alias]
  push = push --force-with-lease --force-if-includes

[commit]
  gpgsign = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
